# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Env secrets
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
